@model Project

@{}

<form method="post" asp-action="Create">
   <div class="form-group">
        @Html.LabelFor(model => model.ProjectName)
        @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
