@model List<Project> // indicates that the view accepts a list of projects


@{
	ViewData["Title"] = "Projects";
	//viewData is an associative array for displaying data



}


<h2>Projects</h2>

@if (Model.Any()){

	<table class="table">
	<thead>
	<tr>

	<th>ID</th>
	<th>Name</th>
	<th>Status</th>

	</tr>
	</thead>
	<tbody>
			
	@foreach(var project in Model)
		{
		<tr>
		<td>@Html.ActionLink( @String.Format("{0}",project.ProjectId) , "Edit", new { id=project.ProjectId })</td>
		<td>@Html.ActionLink( @String.Format("{0}",project.ProjectName) , "Edit", new { id=project.ProjectId })</td>
		<td>@project.Status</td>
		</tr>
		}
			
		</tbody>
		</table>
}
else{
	<p>no projects</p>
}

<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Create">Create</a>
